<h3><u>Edit Person</u></h3>

<div class="input-form container">
    
        <%= form_for @person do |f| %> 
        <div class="row">
            <div class="col-sm-1 col-offset-5">
            <%= f.label :name %>
            </div>
            <div class="col-sm-2 col-offset-6">
            <%= f.text_field :name %>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1 col-offset-2"> 
            <%= f.label :age %>
            </div>
            <div class="col-sm-2 col-offset-3">
            <%= f.text_field :age %>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1 col-offset-2">
            <%= f.label :hair_color %>
            </div>
            <div class="col-sm-2 col-offset-3">
            <%= f.text_field :hair_color %>
            </div>
        </div> 

        <div class="row">
            <div class="col-sm-1 col-offset-2">
            <%= f.label :eye_color %>
            </div>
            <div class="col-sm-2 col-offset-3">
            <%= f.text_field :eye_color %>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1 col-offset-2">
            <%= f.label :gender %>
            </div>
            <div class="col-sm-2 col-offset-3">
            <%= f.text_field :gender %>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1 col-offset-2">
            <%= f.label :alive, 'Alive: Yes'%>
            </div>
            <div class="col-sm-2 col-offset-3">
            <%= f.check_box :alive %>
            </div>
        </div>

            <%= f.submit %>
            <div class="back btn btn-primary"><%= link_to 'Go Back to Person Info', person_path(@person), class: 'text-danger' %>
            </div>
        <% end %>

</div>
